# 데이터 베이스 & 파이썬

## 백엔드 기초다지기

- 데이터베이스 이해하고 시작하기
  - 데이터베이스란 무엇인가?
  - 왜 소프트웨어는 데이터베이스를 필요로 하는가?
    - 서비스 소프트웨어 안의 내장변수로 데이터 관리하기
    - 내장변수 관리의 불편한점
    - 서비스 바깥의 txt파일에 기록하기
    - txt 파일 기록의 불편한 점
    - 데이터 무결성 문제
    - 데이터 Deadlock 문제
    - 데이터 일관성, 동시성, 영속성, 유지보수 등의 문제
    - 단순 데이터베이스의 등장(DBMS)
    - 관계형 데이터베이스의 등장(RDBMS)
    - 분산형 데이터베이스의 등장(Hadoop), NoSQL
    - 데이터베이스를 위한 SQL 언어의 등장
    - NoSQL이란 무엇인가

### SQL & NoSQL

- SQL : RDBMS
  - 오라클, MySQL, MariaDB
- NoSQL(Not only SQL) : DBMS
  - MongoDB
    - 문서 위주

### 객체지향 데이터베이스 

- 관계형 $\sim$ 객체지향
  - 유사하지만 같지는 않다.

In [2]:
names = ["임지현", "박서진", "강도후", "최서후", "이지민", "윤서아"]
weights = [125, 60, 75, 68, 80, 70]
heights = [182, 162, 179, 188, 175, 172]

In [3]:
for i, name in enumerate(names):
    print(name, weights[i], heights[i])

임지현 125 182
박서진 60 162
강도후 75 179
최서후 68 188
이지민 80 175
윤서아 70 172

In [4]:
Myfrieds2 = {
    "임지연" : {"체중" : 52,"키" : 172},
    "박지선" : {"체중" : 60,"키" : 162},
    "강도후" : {"체중" : 75,"키" : 179},
    "최서후" : {"체중" : 68,"키" : 188},
    "이지민" : {"체중" : 80,"키" : 175},
    "윤서아" : {"체중" : 70,"키" : 172},
}

In [20]:
# 데이터 저장
## json 으로 뻘짓하지 말고 피클로 저장하자

# f = open("Myfrieds.txt", "w", encoding="utf-8")
# f.write(str(Myfrieds2))
# f.close()

In [18]:
# 뒤에 추가하기
# f = open("Myfrieds.txt", "at", encoding="utf-8")
# f.write("\n공백")
# f.close()

In [32]:
import pickle
with open('Myfrieds.txt', 'wb') as f:
    pickle.dump(Myfrieds2, f)

In [33]:
with open('Myfrieds.txt', 'rb') as f:
    data = pickle.load(f) # 단 한줄씩 읽어옴

In [34]:
data

{'임지연': {'체중': 52, '키': 172},
 '박지선': {'체중': 60, '키': 162},
 '강도후': {'체중': 75, '키': 179},
 '최서후': {'체중': 68, '키': 188},
 '이지민': {'체중': 80, '키': 175},
 '윤서아': {'체중': 70, '키': 172}}

![](image/026_001.png)

mariadb -u root -p 
- 비밀번호 입력 : lan7427a

[기본설명](https://mariadb.com/kb/ko/basic-sql-statements/)

# 치트시트


![](image/026_002.png)
![](image/026_003.png)

데이터베이스
> 테이블
> 
>> 로우
>>
>>> 칼럼
>>>
>> ``
>>
> ``

## SQL 다루기

### 데이터베이스 확인

```SQL
    MariaDB [health]> SHOW DATABASES;
```
```SQL
    MariaDB [health]> SHOW TABLES;
```

### 데이터베이스, 테이블 만들기

```SQL
    MariaDB [health]> CREATE DATABASE healt
```

```SQL
    MariaDB [health]> CREATE TABLE t1 (a INT)
```

```sql
    MariaDB [health]> CREATE TABLE student_tests (
        -> name CHAR(10), test CHAR(10),
        -> score TINYINT, test_date DATE
        -> );
```

```sql
    MariaDB [health]> INSERT INTO t1 VALUES (1);
    Query OK, 1 row affected (0.003 sec)

    MariaDB [health]> SELECT * FROM t1;
    +------+
    | a    |
    +------+
    |    1 |
    +------+
    1 row in set (0.000 sec)
```

```sql
    MariaDB [health]> INSERT INTO student_tests
        -> (name, test, score, test_date) VALUES
        -> ('chun', 'SQL', 75, '2012-11-05'),
        -> ('Lee', 'python', 27, '1995-02-02');
    Query OK, 2 rows affected (0.004 sec)
    Records: 2  Duplicates: 0  Warnings: 0

    MariaDB [health]> SELECT * FROM student_tests;
    +------+--------+-------+------------+
    | name | test   | score | test_date  |
    +------+--------+-------+------------+
    | chun | SQL    |    75 | 2012-11-05 |
    | Lee  | python |    27 | 1995-02-02 |
    +------+--------+-------+------------+
    2 rows in set (0.000 sec)
```

### DELETE

```sql
    MariaDB [health]> DELETE FROM student_testS WHERE name='Lee' and test='python';
    Query OK, 1 row affected (0.004 sec)

    MariaDB [health]> SELECT * FROM student_tests;
    +------+------+-------+------------+
    | name | test | score | test_date  |
    +------+------+-------+------------+
    | chun | SQL  |    75 | 2012-11-05 |
    +------+------+-------+------------+
    1 row in set (0.000 sec)
```

- 조심 그냥 지운다고하면 걍 지워짐

```sql
    MariaDB [health]> DELETE FROM student_tests;
    Query OK, 1 row affected (0.004 sec)

    MariaDB [health]> select * from student_tests;
    Empty set (0.000 sec)
```

#